<strong>Olá , {{ name }}</strong>
<p>{{user}} acabou de confirmar presença no seu evento: <strong>{{meetup}}</strong> <br /></p>
<br />
<strong>Contato do participante:</strong>
<p>
    <strong>Nome:</strong> {{ user }} <br />
    <strong>Email:</strong> {{ email }} <br />
</p>